<%= render 'shared/page_title', title: "Available ingredients" %>

<div align="center" class="cards-main-container">
    <%= will_paginate @ingredients %>
    <div class="cards-container">
        <% @ingredients.each do |ingredient|%>
        <ul class="listing">
            <div class="row" style="width: 100px;">
                <div class="well ingredient-well">
                    <li class="chef-title"> <%= link_to ingredient.name.capitalize, ingredient_path(ingredient) %> </li>
                    <li><small> <%= pluralize(ingredient.recipes.count, "recipe") if ingredient.recipes %> </small></li>
                    <% if logged_in? && current_chef.admin? %> 
                        <li><strong><%= link_to "Edit", edit_ingredient_path(ingredient) %></strong></li>
                    <% end %>
                </div>
            </div>
        </ul>
    <% end %>
    </div>
    <%= will_paginate @ingredients %>
</div>

<%# col-md-offset-4 %>